@model Aiwe.Models.DB.MetaItem
@{
  ViewBag.Title = Aibe.LCZ.W_CryptoSerialize;
  ViewBag.ControllerName = Aiwe.DH.MvcMetaControllerName;
  int labelPortion = 3;
  ViewBag.LabelClasses = "col-md-" + labelPortion;
  ViewBag.EditorClass = "col-md-" + (12 - labelPortion);
}

<h2>@ViewBag.ControllerName <small>(@ViewBag.Title)</small></h2>
<h3 class="text-success"><span class="glyphicon glyphicon-qrcode text-success"></span> @Aibe.LCZ.NFQ_CryptoSerialize</h3>
<hr />

<div>
  @Html.Partial("_DetailsPart")
</div>
<br />

<div class="row">
  @using (Html.BeginForm(Aibe.DH.CryptoSerializeAction, (string)ViewBag.ControllerName, FormMethod.Post, new { id = "csForm" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
      <button class="btn btn-success col-md-2" style="margin-left:12px; margin-right:8px; margin-top:15px;" onclick="submitCSForm()">
        <span class="glyphicon glyphicon-qrcode"><font style="font-family:verdana;"> @Aibe.LCZ.W_CryptoSerialize</font></span>
      </button>
      <a href="@Url.Action(Aibe.DH.IndexActionName, (string)ViewBag.ControllerName)"
         class="btn btn-primary col-md-2"
         style="margin-left:12px; margin-top:15px;">
        <span class="glyphicon glyphicon-circle-arrow-left"><font style="font-family:verdana;"> @Aibe.LCZ.W_BackToList</font></span>
      </a>
    </div>
  }
  <br />
</div>

<script>
  function submitCSForm() {
    document.getElementById('csForm').submit();
  }
</script>
