@using Aiwe.Models.Filters
@model ApplicationUserFilter
@{
  ViewBag.LabelClasses = "col-md-4";
  ViewBag.EditorClass = "col-md-8";  
}

<div class="form-horizontal">
  @*<input type="hidden" name="@("Page")" id="@ViewBag.SenderName-page" class="uncounted-filter-item" value="@navData.CurrentPage" />
  <input type="hidden" name="@("No")" id="@ViewBag.SenderName-filter-no" class="uncounted-filter-item" />
  <input type="hidden" name="@("Msg")" id="@ViewBag.SenderName-filter-msg" class="uncounted-filter-item" />*@

  @Html.HiddenFor(m => m.Page, htmlAttributes: new { id = (string)ViewBag.SenderName + "-page", @class = "uncounted-filter-item" })
  @Html.HiddenFor(m => m.No, htmlAttributes: new { id = (string)ViewBag.SenderName + "-filter-no", @class = "uncounted-filter-item" })
  @Html.HiddenFor(m => m.Msg, htmlAttributes: new { id = (string)ViewBag.SenderName + "-filter-msg", @class = "uncounted-filter-item" })

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Full Name</label>
    <div class="@ViewBag.EditorClass">
      @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control form-control-plus" } })
      @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Display Name</label>
    <div class="@ViewBag.EditorClass">
      @Html.EditorFor(model => model.DisplayName, new { htmlAttributes = new { @class = "form-control form-control-plus" } })
      @Html.ValidationMessageFor(model => model.DisplayName, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Email</label>
    <div class="@ViewBag.EditorClass">
      @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-plus" } })
      @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
    </div>
  </div>

  @{
    List<SelectListItem> workingRoles = new List<SelectListItem> {
      new SelectListItem {Text = null, Value = null },
      new SelectListItem {Text = "User", Value = "User" },
      new SelectListItem {Text = "Supervisor", Value = "Supervisor" },
      new SelectListItem {Text = "Manager", Value = "Manager" },
    };

    List<SelectListItem> adminRoles = new List<SelectListItem> {
      new SelectListItem {Text = null, Value = null },
      new SelectListItem {Text = Aibe.DH.AdminRole, Value = Aibe.DH.AdminRole },
      new SelectListItem {Text = Aibe.DH.MainAdminRole, Value = Aibe.DH.MainAdminRole },
    };

    List<SelectListItem> teams = new List<SelectListItem> { //TODO Bad! next time, has to be replaced with list of items from the datatable
      new SelectListItem {Text = null, Value = null },
      new SelectListItem {Text = "Home", Value = "Home" },
      new SelectListItem {Text = "Philippine", Value = "Philippine" },
      new SelectListItem {Text = "Thailand", Value = "Thailand" },
    };
  }

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Team</label>
    <div class="@ViewBag.EditorClass">
      @Html.DropDownList(Html.NameFor(m => m.Team).ToString(), teams, new { @class = "form-control form-control-plus" })
      @Html.ValidationMessageFor(model => model.Team, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Working Role</label>
    <div class="@ViewBag.EditorClass">
      @Html.DropDownList(Html.NameFor(m => m.WorkingRole).ToString(), workingRoles, new { @class = "form-control form-control-plus" })
      @Html.ValidationMessageFor(model => model.WorkingRole, "", new { @class = "text-danger" })
    </div>
  </div>

  <div class="form-group">
    <label class="control-label @ViewBag.LabelClasses">Admin Role</label>
    <div class="@ViewBag.EditorClass">
      @Html.DropDownList(Html.NameFor(m => m.AdminRole).ToString(), adminRoles, new { @class = "form-control form-control-plus" })
      @Html.ValidationMessageFor(model => model.AdminRole, "", new { @class = "text-danger" })
    </div>
  </div>
</div>
