<h2>@ViewBag.ControllerName <small>(@ViewBag.Title)</small></h2>
<h3 class="text-danger"><span class="glyphicon glyphicon-warning-sign text-danger"></span> Are you sure to delete this?</h3>
<hr />

<div>
  @Html.Partial("_DetailsPart")
</div>
<br />

<div class="row">
  @using (Html.BeginForm("Delete", (string)ViewBag.ControllerName, FormMethod.Post, new { id = "deleteForm" })) {
    @Html.AntiForgeryToken()
    <div class="form-group">
      <button class="btn btn-danger col-md-1" style="margin-left:12px; margin-right:8px; margin-top:15px;" onclick="submitDeleteForm()">
        <span class="glyphicon glyphicon-remove"><font style="font-family:verdana;"> Delete</font></span>
      </button>
      <a href="@Url.Action("Index", (string)ViewBag.ControllerName)"
         class="btn btn-primary col-md-2"
         style="margin-left:12px; margin-top:15px;">
        <span class="glyphicon glyphicon-circle-arrow-left"><font style="font-family:verdana;"> Back To List</font></span>
      </a>
    </div>
  }
  <br />
</div>

<script>
  function submitDeleteForm() {
    document.getElementById('deleteForm').submit();
  }
</script>
