@using Aibe.Models.Filters
<br />
<h2>
  @string.Format(Aibe.LCZ.M_ListOf, ViewBag.PageTitle)
  &nbsp;
  <span class="btn btn-default"
        data-toggle="modal"
        data-target="#modal-for-@ViewBag.SenderName">
    <span class="glyphicon glyphicon-filter"></span> @Aibe.LCZ.W_Filter
  </span>
  <small>
    <span id="span-for-@ViewBag.SenderName-filter">
      @if (ViewBag.Filter != null) {
        BaseFilter filter = (BaseFilter)ViewBag.Filter;
        if (filter != null && filter.No > 0) {
          <span class="glyphicon glyphicon-ok-circle text-success" title="@filter.Msg"></span> <span title="@Aibe.LCZ.W_FilterElements">@filter.No</span>        
        }
      }
    </span>
  </small>
</h2>
<br />