@model Aibe.Models.NavDataModel
<div class="row">
  <div class="col-lg-2">
    <span onclick="submitFilterForm('1', '@ViewBag.SenderName')"
        class="btn btn-default btn-xs"
        title="@Aibe.LCZ.W_FirstPage">
      @Aibe.LCZ.W_First
    </span>
    @if (Model.MaxPage > 100) {
      <span onclick="submitFilterForm('@Model.Prev100Page.ToString()', '@ViewBag.SenderName')"
          class="btn btn-default btn-xs"
          title="@Aibe.LCZ.W_Previous100Pages">
        &#x25c0&#x25c0&#x25c0
      </span>
    }
    @if (Model.MaxPage > 10) {
      <span onclick="submitFilterForm('@Model.Prev10Page.ToString()', '@ViewBag.SenderName')"
          class="btn btn-default btn-xs"
          title="@Aibe.LCZ.W_Previous10Pages">
        &#x25c0&#x25c0
      </span>
    }
    <span onclick="submitFilterForm('@Model.PrevPage.ToString()', '@ViewBag.SenderName')"
        class="btn btn-default btn-xs"
        title="@Aibe.LCZ.W_PreviousPage">
      &#x25c0
    </span>
  </div>
  <div class="col-lg-2">
    <span id="currentPageId">
      @Aibe.LCZ.W_Page @Model.CurrentPage / @Model.MaxPage
    </span>
  </div>
  <div class="col-lg-2">
    <span onclick="submitFilterForm('@Model.NextPage.ToString()', '@ViewBag.SenderName')"
        class="btn btn-default btn-xs"
        title="@Aibe.LCZ.W_NextPage">
      &#x25b6
    </span>
    @if (Model.MaxPage > 10) {
      <span onclick="submitFilterForm('@Model.Next10Page.ToString()', '@ViewBag.SenderName')"
          class="btn btn-default btn-xs"
          title="@Aibe.LCZ.W_Next10Pages">
        &#x25b6&#x25b6
      </span>
    }
    @if (Model.MaxPage > 100) {
      <span onclick="submitFilterForm('@Model.Next100Page.ToString()', '@ViewBag.SenderName')"
         class="btn btn-default btn-xs"
         title="@Aibe.LCZ.W_Next100Pages">
        &#x25b6&#x25b6&#x25b6
      </span>
    }
    <span onclick="submitFilterForm('@Model.MaxPage.ToString()', '@ViewBag.SenderName')"
       class="btn btn-default btn-xs"
       title="@Aibe.LCZ.W_LastPage">
      @Aibe.LCZ.W_Last
    </span>
</div>

  <div class="col-lg-3">
    @if (Model.KeysUsed) {
      <span><i>(@Model.DataName [@Model.ItemNoInPageFirst] @Model.FirstKey - [@Model.ItemNoInPageLast] @Model.LastKey @Aibe.LCZ.W_of <b>@Model.QueryCount</b> @Model.DataName.ToLower())</i></span>
    } else if (Model.DataNameUsed) {
      <span><i>(@Model.DataName [@Model.ItemNoInPageFirst] - [@Model.ItemNoInPageLast] @Aibe.LCZ.W_of <b>@Model.QueryCount</b> @Model.DataName)</i></span>
    } else {
      <span><i>(@Aibe.LCZ.W_Data [@Model.ItemNoInPageFirst] - [@Model.ItemNoInPageLast] @Aibe.LCZ.W_of <b>@Model.QueryCount</b> @Aibe.LCZ.W_Data)</i></span>
    }
  </div>
</div>
