@using Aibe.Models.Core;
@using Aibe.Models;
@using Aiwe.Models;
@using Aiwe.Extensions;
@using System.Data;
@using Extension.String;

@model AiweCreateEditModel

@{ 
  bool isCreate = Model.ActionType.EqualsIgnoreCase(Aibe.DH.CreateActionName);
}

<div class="form-horizontal">
  @foreach (DataColumn column in Model.Meta.ArrangedDataColumns) {
    string cn = column.ColumnName;
    bool isScriptColumn = Model.Meta.IsScriptColumn(cn);
    bool isReadOnly = (!isCreate && Model.Meta.IsEditShowOnly(cn)) || isScriptColumn; //TODO fornow, script column is always read only
    bool isColumnIncluded = Model.IsColumnIncludedInCreateEdit(column, User);

    //ordered by precedence
    bool isDropDown = Model.Meta.IsCreateEditDropDownColumn(cn);
    bool isTextField = Model.Meta.IsTextField(cn);
    bool isPictureColumn = Model.Meta.IsPictureColumn(cn);
    bool isListColumn = Model.Meta.IsListColumn(cn);

    string hiddenAttrIfReadOnly = isReadOnly ? "hidden=\"hidden\"" : string.Empty;
    string readOnlyAttrIfReadOnly = isReadOnly ? "readonly=\"readonly\"" : string.Empty;
    string controlClasses = "form-control form-control-common-plus";
    string dataType = column.DataType.ToString().Substring(Aibe.DH.SharedPrefixDataType.Length);

    if (!isColumnIncluded) { //skipped columns
      if (cn == "Cid") { //must already be declared outside for edit otherwise must not be included. Either case, skips.
        continue;
      }

      //all non-edited items must exist but is hidden       
      if (dataType.EqualsIgnoreCase(Aibe.DH.DateTimeDataType)) { //The only data type that is quite problematic to deal with is DateTime
        string dataValueRaw = Model.GetData(cn);
        DateTime? dataValueDt = string.IsNullOrWhiteSpace(dataValueRaw) ? null : new DateTime?(DateTime.Parse(dataValueRaw));
        string dataDateValue = dataValueDt.HasValue ? dataValueDt.Value.ToString("yyyy-MM-dd") : string.Empty;
        string dataTimeName = cn + Aibe.DH.CreateEditTimeAppendixName;
        string dataTimeValue = Model.GetTime(dataTimeName, dataValueDt);
        <input type="hidden" name="@cn" class="@controlClasses" value="@dataDateValue" />
        <input type="hidden" name="@dataTimeName" class="@controlClasses" value="@dataTimeValue" />
        continue;
      } 
      
      //other data type is straight forward to deal with, just hide them
      string dataValue = Model.GetData(cn);
      <input type="hidden" name="@cn" value="@dataValue" />            
      continue;
    }

    if (isScriptColumn) { //very special column, treated differently
      ScTableInfo scTable = Model.GetScTable(cn);
      <div class="form-group">
        <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
        <div class="@ViewBag.EditorClass" style="margin-top:7px">
          @if (scTable == null || !scTable.IsValid) {
            <i>[Table-referenced column is not available]</i>
          } else {
            List<DataColumn> scColumns = scTable.GetAvailableDataColumns();
            <table border=1>
              @foreach (var scColumn in scColumns) {
                <th style="padding:2px 8px 2px 8px">
                  @scColumn.ColumnName.ToCamelBrokenString()
                </th>
              }
              @if (scTable.HasRow) { //only edit requires to show the rows
                foreach (var scRow in scTable.Rows) {
                  int scCid = scTable.HasCidColumn ? (int)scRow["Cid"] : -1;
                  <tr>
                    @foreach (var scColumn in scTable.Columns) {
                      string scColumnName = scColumn.ColumnName;
                      object scData = scRow[scColumnName];
                      <td style="padding:2px 8px 2px 8px">
                        @if (scData != null && !string.IsNullOrWhiteSpace(scData.ToString()) && scTable.ScInfo.IsPictureLinkColumn(scColumnName)) {
                          string scLink = scData.ToString();
                          if (scLink.Contains("/") || scLink.Contains("\\") || !scTable.HasCidColumn ||
                            string.IsNullOrWhiteSpace(scTable.ScInfo.RefTableName)) { //longer relative path
                            <img src="~/Images/@scLink" width="@scTable.ScInfo.GetPictureWidthFor(scColumnName)" title="@scData" />
                          } else { //the RefTableName must exists if it is to be used
                            <img src="~/Images/@scTable.ScInfo.RefTableName/@scCid/@scLink" width="@scTable.ScInfo.GetPictureWidthFor(scColumnName)" title="@scData" />
                          }
                        } else { //if not a picture link column, just print as it is but if it is picture link column... then it is going to be different
                          @scData
                        }
                      </td>
                    }
                  </tr>
                }
              }
            </table>
          }
          @*<i>[Table-referenced column is not available in Create action]</i>*@ @*only provide this if it has display message attached*@
        </div>
      </div>      
      continue;
    }

    if (dataType.EqualsIgnoreCase(Aibe.DH.StringDataType)) { //String type
      string dataValue = Model.GetData(cn);
      if (isCreate && string.IsNullOrWhiteSpace(dataValue)) { //only for create. The edit does not have, only if the previous dataValue is empty
        string prefix = Model.Meta.GetPrefix(cn);
        string postfix = Model.Meta.GetPostfix(cn);
        //according to http://stackoverflow.com/questions/637308/why-is-adding-null-to-a-string-legal
        //The addition of null using + is legal;
        dataValue = prefix + dataValue + postfix;
      }

      <div class="form-group">
        <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
        <div class="@ViewBag.EditorClass">
          @if (isDropDown) {
            List<string> dropdowns = Model.Meta.GetStaticCreateEditDropDownFor(cn, dataValue, "string");
            if (dropdowns == null || dropdowns.Count <= 0) {
              <input type="text" name="@cn" class="@controlClasses" value="@dataValue" @readOnlyAttrIfReadOnly/>
            } else if (isReadOnly) {
              <input type="text" name="@cn" class="@controlClasses" value="@dataValue" readonly="readonly" />
            } else { //string dropdown case
              <div id="live-dd-@cn" class="live-dd" commondatatype="string">
                @{ 
                  List<SelectListItem> dropdownItems = new List<SelectListItem> {
                    new SelectListItem { Text = null, Value = null },
                  };
                  dropdownItems.AddRange(dropdowns.Select(x => new SelectListItem { Text = x, Value = x }).ToArray());
                  SelectListItem item = dropdownItems.FirstOrDefault(x => x.Text == dataValue);
                  if (item != null && !string.IsNullOrWhiteSpace(dataValue)) {
                    item.Selected = true;
                  }
                }
                @Html.DropDownList(cn, dropdownItems, new { @class = controlClasses + " common-column-dropdown",
                  id = "common-column-dropdown-" + cn })
               </div>
              <input type="text" class="common-column-dropdown-original" id="common-column-dropdown-original-@cn" value="@dataValue" hidden="hidden" />
            }
          } else if (isTextField) { //string, not column and not TextField
            <textarea class="@controlClasses"
                      rows="@Model.Meta.GetTextFieldRowSize(cn)"                                                
                      name="@cn" @readOnlyAttrIfReadOnly>@dataValue</textarea> //must be written this way and cannot be auto adjusted. Otherwise the dataValue will be put in the centre of the area (not in the beginning)
          } else if (isPictureColumn) { //picture
            string picColumnName = cn + Aibe.DH.CreateEditPictureLinkAppendixName;
            string picColumnValue = Model.GetData(picColumnName);
            string columnValue = Model.GetData(cn,false);
            <div style="margin-top:7px">
              @if (!string.IsNullOrWhiteSpace(columnValue)) { //try to load the image
                string cid = Model.GetData("Cid");
                if (columnValue.Contains("/") || columnValue.Contains("\\")) { //longer relative (folder-contain) path
                  <img src="../../../Images/@columnValue" style="width:100px" id="picturedisplay-@cn" />
                } else {
                  <img src="../../../Images/@Model.TableName/@cid/@columnValue" style="width:100px" id="picturedisplay-@cn" />
                }
                <button class="common-remove-picture" type="button" id="pictureremove-@cn" @hiddenAttrIfReadOnly>remove</button>
              } else {
                <img src="" style="width:100px" id="picturedisplay-@cn" hidden="hidden"/>
                <button class="common-remove-picture" type="button" id="pictureremove-@cn" hidden="hidden">remove</button>
              }
              @if (!isReadOnly) {
                <input type="file" name="@picColumnName" accept="image/*" class="common-input-picture" id="picture-@cn" />
                if (!string.IsNullOrWhiteSpace(columnValue) && !isCreate) {
                <span class="text-danger" id="pictureinfotext-@cn"> 
                  DO NOT BOTHER the 'No file chosen' phrase. If you see a picture, it means THERE IS a picture linked to the data.
                </span>
                } else {
                <span class="text-danger" id="pictureinfotext-@cn" hidden="hidden">
                  DO NOT BOTHER the 'No file chosen' phrase. If you see a picture, it means THERE IS a picture linked to the data.
                </span>
                }
              }
              <input class="@controlClasses"
                      type="hidden" name="@cn" value="@columnValue"
                      id="common-string-picture-@cn" />
            </div>
          } else if (isListColumn) {
            string lcType = Model.Meta.GetListColumnType(cn);
            bool hasStaticTemplate = string.IsNullOrWhiteSpace(dataValue) &&
              Model.Meta.ListColumnHasStaticTemplate(cn);
            string usedDataValue = hasStaticTemplate ?
              Model.Meta.GetColumnStaticTemplate(cn) : dataValue;
            ListColumnInfo info = Model.Meta.GetListColumnInfo(cn);
            if (isReadOnly) {
              <input type="hidden" name="@cn" id="ro-content-@cn" value="@usedDataValue" />
              <div>
                @Html.Raw(info.GetHTML(usedDataValue, true))
              </div>
            } else {
              <div id="common-subcolumn-datavalue-@cn">
                <input type="hidden" name="@cn" id="common-subcolumn-content-@cn" value="@usedDataValue" />
              </div>                  
              <span hidden id="common-subcolumn-span-@cn">@lcType</span>
              <span hidden id="common-subcolumn-portion-@cn">@Model.CreateEditLabelPortion</span>
              <div id="common-subcolumn-div-@cn">
                @Html.Raw(info.GetHTML(usedDataValue))
              </div>
            }
          } else { //normal string
            <input type="text" name="@cn" class="@controlClasses" value="@dataValue" @readOnlyAttrIfReadOnly/>
          }        
        @Html.ValidationMessage(cn, new { @class = "text-danger" })
        </div>
      </div>
      continue;
    } 
  
    if (Aibe.DH.NumberDataTypes.Contains(dataType)) { //Integer/UInt/Other numbers type
      string dataValue = Model.GetData(cn);

      if (Model.Meta.IsAutoGeneratedAppliedFor(cn, Model.ActionType)){
        <input type="hidden" name="@cn" class="@controlClasses" value="@dataValue" />
        continue;
      } 

      <div class="form-group">
        <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
        <div class="@ViewBag.EditorClass">
          @if (isReadOnly) {
            <input type="text" name="@cn" class="@controlClasses" value="@dataValue" readonly="readonly" />
          } else if (!isDropDown) { //normal number, use input type = "number"
            <input type="number" name="@cn" class="@controlClasses" value="@dataValue" @readOnlyAttrIfReadOnly />
          } else { //dropdown number
            List<string> dropdowns = Model.Meta.GetStaticCreateEditDropDownFor(cn, dataValue);
            if (dropdowns == null || dropdowns.Count <= 0) {
              <input type="number" name="@cn" class="@controlClasses" value="@dataValue" @readOnlyAttrIfReadOnly/>
            } else { //number dropdown case
              <div id="live-dd-@cn" class="live-dd" commondatatype="number">
                @{
                  List<SelectListItem> dropdownItems = new List<SelectListItem> {
                    new SelectListItem { Text = null, Value = null },
                  };
                  dropdownItems.AddRange(dropdowns.Select(x => new SelectListItem { Text = x, Value = x }).ToArray());
                  SelectListItem item = dropdownItems.FirstOrDefault(x => x.Text == dataValue);
                  if (item != null) {
                    item.Selected = true;
                  }
                }
                @Html.DropDownList(cn, dropdownItems, new { @class = controlClasses + " common-column-dropdown",
                  id = "common-column-dropdown-" + cn })
              </div>
              <input type="text" class="common-column-dropdown-original" id="common-column-dropdown-original-@cn" value="@dataValue" hidden="hidden" />
            }
          }
        @Html.ValidationMessage(cn, new { @class = "text-danger" })
        </div>
      </div>      
      continue;
    }
                    
    if (dataType.EqualsIgnoreCase(Aibe.DH.DateTimeDataType)) { //DateTime type
      string dataValueRaw = Model.GetData(cn);
      DateTime? dataValueDt = string.IsNullOrWhiteSpace(dataValueRaw) ? null : new DateTime?(DateTime.Parse(dataValueRaw));
      string dataDateValue = dataValueDt.HasValue ? dataValueDt.Value.ToString("yyyy-MM-dd") : string.Empty;
      string dataTimeName = cn + Aibe.DH.CreateEditTimeAppendixName;
      string dataTimeValue = Model.GetTime(dataTimeName, dataValueDt);

      if (Model.Meta.IsTimeStampAppliedFor(cn, Model.ActionType)) { //if it is timestamp column for the particular column and action, don't use it
        <input type="hidden" name="@cn" class="@controlClasses" value="@dataDateValue" />
        <input type="hidden" name="@dataTimeName" class="@controlClasses" value="@dataTimeValue" />
        continue;
      }

      <div class="form-group">
        <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
        <div class="@ViewBag.EditorClass">
          <div class="row form-inline" style="margin-left:0px;">
            <input type="date" name="@cn" class="@controlClasses" value="@dataDateValue" @readOnlyAttrIfReadOnly/>
            <input type="time" step="1" name="@dataTimeName" class="@controlClasses" value="@dataTimeValue" @readOnlyAttrIfReadOnly/>
          </div>
          @Html.ValidationMessage(cn, new { @class = "text-danger" })
          @Html.ValidationMessage(dataTimeName, new { @class = "text-danger" })
        </div>
      </div>      
      continue;
    }

    if (dataType.EqualsIgnoreCase(Aibe.DH.BooleanDataType)) {
      string dataValue = Model.GetData(cn);
      if (isReadOnly) {
        <div class="form-group">
          <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
          <div class="@ViewBag.EditorClass">          
            <input type="text" name="@cn" class="@controlClasses" value="@dataValue" readonly="readonly" />
          </div>
        </div>
        continue;
      } 

      List<SelectListItem> dropdownItems = new List<SelectListItem> {
        new SelectListItem { Text = null, Value = null },
        new SelectListItem { Text = "True", Value = "true" },
        new SelectListItem { Text = "False", Value = "false" },
      };

      SelectListItem item = dropdownItems.FirstOrDefault(x => x.Text == dataValue);
      if (item != null) {
        item.Selected = true;
      }

      <div class="form-group">
        <label class="control-label @ViewBag.LabelClasses">@Model.Meta.GetColumnDisplayName(cn)</label>
        <div class="@ViewBag.EditorClass">          
          @Html.DropDownList(cn, dropdownItems, new { @class = controlClasses })
          @Html.ValidationMessage(cn, new { @class = "text-danger" })
        </div>
      </div>      
      continue;
    } 

    <p>Name: @Model.Meta.GetColumnDisplayName(cn), Type: @dataType</p>    
  }
  <div id="common-table-name" hidden>@Model.TableName</div>
  @Html.ValidationMessage("UnknownColumn", new { @class = "text-danger" })
</div>

