@using Aibe.Helpers;
@using Aibe.Models;
@using Aibe.Models.Core;
@using Aiwe.Models;
@using Extension.String;
@using System;
@using System.Data;
@using System.Collections.Generic;

@model AiweFilterIndexModel

@{
  //initialize variables
  ViewBag.Title = Aibe.LCZ.W_Index;
  ViewBag.SenderName = Model.TableName.ToLower(); //for javascript use
}

<!--The header-->
<h2>
  @ViewBag.Title - @Model.TableDisplayName
  &nbsp;

  <!--The filter button-->
  @if (!Model.Meta.FilterIsDisabled) {
    <span class="btn btn-default"
          data-toggle="modal"
          data-target="#modal-for-@ViewBag.SenderName">
      <span class="glyphicon glyphicon-filter"></span> @Aibe.LCZ.W_Filter
    </span>
    <small>
      <span id="span-for-@ViewBag.SenderName-filter">
        @if (Model.FiModel.FilterNo > 0) {
          <span class="glyphicon glyphicon-ok-circle text-success" title="@Model.FiModel.FilterMsg"></span> <span title="@Aibe.LCZ.W_FilterElements">@Model.FiModel.FilterNo</span>
        }
      </span>
    </small>
  }
</h2>
<br />

@if (!Model.HasTable) {
  <h4 style="color:red">@Aibe.LCZ.NFE_NoDataTableFound</h4>
} else {
  <!--The data presentation-->
  List<int> excludedColumnNo = new List<int>();

  using (Html.BeginForm(Aibe.DH.IndexActionName, Aiwe.DH.MvcCommonControllerName, FormMethod.Post, new { id = "filterForm" })) {

  <!--The filter-->

    if (!Model.Meta.FilterIsDisabled) {
      <div id="modal-for-@ViewBag.SenderName" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header" style="background-color:#e9e9e9">
              <button type="button" class="close" data-dismiss="modal"
                      id="@ViewBag.SenderName-filter-cross-button"
                      onclick="submitFilterModalForm(this, event, '@ViewBag.SenderName')">
                &times;
              </button>
              <h4 class="modal-title" id="modal-for-@ViewBag.SenderName-header">@string.Format(Aibe.LCZ.M_FilterFor, Model.TableDisplayName)</h4>
            </div>
            <div class="modal-body">
              @Html.Partial("_Filter", Model)
            </div>
            <div class="modal-footer" style="background-color:#e9e9e9">
              <button type="button" class="btn btn-default" data-dismiss="modal"
                      id="@ViewBag.SenderName-filter-use-button"
                      title="@Aibe.LCZ.NFM_ApplyFilterButtonHelp"
                      onclick="submitFilterModalForm(this, event, '@ViewBag.SenderName')">
                @Aibe.LCZ.W_Apply
              </button>
              <button type="button" class="btn btn-default" data-dismiss="modal"
                      id="@ViewBag.SenderName-filter-close-button"
                      title="@Aibe.LCZ.NFM_CloseFilterButtonHelp"
                      onclick="submitFilterModalForm(this, event, '@ViewBag.SenderName')">
                @Aibe.LCZ.W_Close
              </button>
            </div>
          </div>
        </div>
      </div>
    }

    if (Model.RowNo <= 0) {
      string addFilterString = !Model.Meta.FilterIsDisabled && Model.FiModel.FilterNo > 0 ?
        Aibe.LCZ.NFE_MatchingTheAppliedFilter : string.Empty;
      <h4 style="color:red">@string.Format(Aibe.LCZ.E_NoRecordFoundInTable, Model.TableDisplayName) @addFilterString</h4>
      <br/>
    }

  <!--The form-->

      <!--The upper navigation-->
      @Html.Partial(ViewBag.NavigationUsed == null ? "_SharedNavigation" : (string)ViewBag.NavigationUsed, Model.NavData)
      <br />

    <!--The table-->

    List<ColumnInfo> includedColumns = Model.ColumnInfos.Where(x => x.IsIndexIncluded).ToList();
    bool isCidForced = !includedColumns.Any(x => x.Name.EqualsIgnoreCase(Aibe.DH.Cid));

      <table class="table table-bordered table-striped">
        <tr>
          @foreach (ColumnInfo column in includedColumns) {
            <th>@column.DisplayName</th>
          }
          @if (Model.Meta.HasNonCreateAction) {
            <th>@Aibe.LCZ.W_Actions</th>
          }
        </tr>
        @foreach (DataRow row in Model.IndexRows) {                    
          <tr>
            @{
              int id = 0; //record Id
              object cid = row[Aibe.DH.Cid]; //included or not, Cid must be taken to get the data id
              if (cid != null) {
                id = (int)cid;
              }
            }

            @foreach (ColumnInfo columnInfo in includedColumns) {
              object val = row[columnInfo.Name];
              if (!Model.IsColumnIncludedInIndex(columnInfo.Name, User)) {
                continue;
              }
              if (columnInfo.IsSciptColumn) { //takes too long if all data is loaded here
                <td>
                  <i>[@Aibe.LCZ.NFM_SeeOnDetails]</i>
                </td>
              } else if (columnInfo.IsIndexShowImage) {
                PictureColumnInfo pcInfo = Model.Meta.GetPictureColumnInfo(columnInfo.Name);
                string imgSizeStr = pcInfo.IndexIsStretched ? "width:" + pcInfo.IndexWidth + "px;height:" + pcInfo.IndexHeight + "px" :
                  pcInfo.IndexHeightComesFirst ? "height:" + pcInfo.IndexHeight + "px" : "width:" + pcInfo.IndexWidth + "px";
                <td>
                  @if (val is DBNull || val == null || string.IsNullOrWhiteSpace(val.ToString())) {
                    <i>[@Aibe.LCZ.W_NoPicture]</i>
                  } else if (val.ToString().Contains("/") || val.ToString().Contains("\\")) { //longer relative path
                    <img src="~/@Aibe.DH.DefaultAttachmentFolderName/@val" style="@imgSizeStr" />
                  } else {
                    <img src="~/@Aibe.DH.DefaultAttachmentFolderName/@Model.TableName/@id/@val" style="@imgSizeStr" />
                  }
                </td>
              } else if (columnInfo.IsListColumn) {
                string dataValue = val == null ? string.Empty : val.ToString();
                <td>
                  @Html.Raw(Model.GetListColumnDetailsHTML(columnInfo.Name, dataValue))
                </td>
              } else {
                string dateTimeFormat = Model.Meta.GetCustomDateTimeFormatFor(columnInfo.Name, Aibe.DH.IndexPageName);
                string printedVal = DateTimeHelper.ProcessPossibleDateTimeString(val, columnInfo.IsDateTime, dateTimeFormat ?? Aiwe.DH.IndexDateTimeFormat);
                if (columnInfo.Colorings == null) {
                  <td>@printedVal</td>
                } else if (columnInfo.Colorings.Any(x => x.ColumnName.EqualsIgnoreCase(columnInfo.Name))) {
                  ColoringInfo colorItem = columnInfo.Colorings.FirstOrDefault(x => x.ColumnName.EqualsIgnoreCase(columnInfo.Name));
                  object usedVal = colorItem.ConditionColumnIsDifferentColumn ? row[colorItem.ConditionColumnName] : val;
                  bool isConditionMet = colorItem.CheckConditionMet(columnInfo.DataType, usedVal, id);
                  if (isConditionMet) {
                    <td style="background-color:@colorItem.Color">@printedVal</td>
                  } else {
                    <td>@printedVal</td>
                  }
                } else {
                  <td>@printedVal</td>
                }                
              }
            }

            @if (Model.Meta.HasNonCreateAction) {
              int actCount = 0;
              <td>
                @foreach (var action in Model.Meta.NonCreateActions) {                  
                  if (Model.IsAllowedToCallAction(action.Name)) {
                    if (actCount > 0) {
                      @:|
                    }
                    if (Model.Meta.IsDefaultAction(action.Name)) { //actions with default action links
                      string aName = Aibe.LCZ.GetLocalizedDefaultActionName(action.Name);
                      if (id == 0) {
                      <a href="../../../../../../@Aiwe.DH.MvcCommonControllerName/@action.Name/@Model.TableName">@aName.ToCamelBrokenString()</a>
                      } else {
                      <a href="../../../../../../@Aiwe.DH.MvcCommonControllerName/@action.Name/@Model.TableName/@id">@aName.ToCamelBrokenString()</a>
                      }
                    } else { //action with customized custom link
                      if (id == 0) {
                      <a href="../../../../../../@Model.TableName/@action.Name">@action.Name.ToCamelBrokenString()</a>
                      } else {
                      <a href="../../../../../../@Model.TableName/@action.Name/@id">@action.Name.ToCamelBrokenString()</a>
                      }
                    }
                    actCount++;
                  }
                }
              </td>
            }
          </tr>
        }
      </table>

      <!--The lower data navigation-->
      @Html.Partial(ViewBag.NavigationUsed == null ? "_SharedNavigation" : (string)ViewBag.NavigationUsed, Model.NavData)
      <br />

    <div class="row">
    @if (Model.Meta.HasCreateAction) {
      if (Model.IsAllowedToCallAction(Aibe.DH.CreateActionName)) {
        bool defaultCreateAction = Model.Meta.IsDefaultAction(Aibe.DH.CreateActionName);
        string createLink = defaultCreateAction ? "../../../../../../" + Aiwe.DH.MvcCommonControllerName + "/" + Aibe.DH.CreateActionName + "/" + Model.TableName :
        "../../../../../../" + Model.TableName + "/" + Aibe.DH.CreateActionName;
        <div class="col-md-3">
          <a href="@createLink"
              class="btn btn-success btn-block"
              style="margin-top:5px;margin-right:5px;">
            <span class="glyphicon glyphicon-plus"></span> @Aibe.LCZ.W_CreateNew
          </a>
        </div>
      }
    }

    @if (Model.Meta.HasTableAction) {
      foreach (var tableAction in Model.Meta.TableActions) {
        if (Model.IsAllowedToCallTableAction(tableAction.Name)) {
          <div class="col-md-3">
            @if (Model.Meta.IsDefaultTableAction(tableAction.Name)) {
              //Two very special actions require to have its own way to represent
              string taName = Aibe.LCZ.GetLocalizedDefaultTableActionName(tableAction.Name);
              if (tableAction.Name.EqualsIgnoreCase(Aibe.DH.ExportToCSVTableActionName)) {
                <button type="button" class="btn btn-primary btn-block"
                        style="margin-top:5px;margin-right:5px;"
                        id="@ViewBag.SenderName-filter-csv-button"
                        onclick="submitFilterModalForm(this, event, '@ViewBag.SenderName')">
                  <span class="glyphicon glyphicon-align-justify"></span> @taName
                </button>
              } else if (tableAction.Name.EqualsIgnoreCase(Aibe.DH.ExportAllToCSVTableActionName)) {
                <button type="button" class="btn btn-primary btn-block"
                        style="margin-top:5px;margin-right:5px;"
                        id="@ViewBag.SenderName-filter-csv-all-button"
                        onclick="submitFilterModalForm(this, event, '@ViewBag.SenderName')">
                  <span class="glyphicon glyphicon-align-justify"></span> @taName
                </button>
              } else {
                <a href="../../../../../@Aiwe.DH.MvcCommonControllerName/@tableAction.Name/@Model.TableName" class="btn btn-primary btn-block" style="margin-top:5px;margin-right:5px;">
                  <span class="glyphicon glyphicon-align-justify"></span> @taName.ToCamelBrokenString()
                </a>
              }
            } else {
              <a href="../../../../../@Model.TableName/@tableAction.Name" class="btn btn-primary btn-block" style="margin-top:5px;margin-right:5px;">
                <span class="glyphicon glyphicon-align-justify"></span> @tableAction.Name.ToCamelBrokenString()
              </a>
            }
          </div>
        }
      }          
    }
    </div>
    <br />
  }
}

