@model System.Web.Mvc.HandleErrorInfo

@{
  ViewBag.Title = Aibe.LCZ.W_Error;
}

<h1 class="text-danger" title="@Aibe.LCZ.W_BaseError">@ViewBag.Title</h1>
<h2 class="text-danger">@Aibe.LCZ.NFE_GeneralErrorMessage</h2>
@if (ViewBag.Error != null) {
  <p style="color:red;">@Html.Raw((string)ViewBag.Error)</p>
}
<p><a href="@Url.Action(Aibe.DH.IndexActionName, Aiwe.DH.MvcHomeControllerName)">&laquo; @Aibe.LCZ.W_BackToHome</a></p>


