@model Aiwe.Models.ChangeDisplayNameViewModel
@{
  ViewBag.Title = Aibe.LCZ.NFM_ChangeDisplayName;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ChangeDisplayName", Aiwe.DH.MvcManageControllerName, FormMethod.Post, new { @class = "form-horizontal", role = "form" })) {
  @Html.AntiForgeryToken()
  <h4>@Aibe.LCZ.NFM_ChangeDisplayNameForm</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
      @Html.LabelFor(m => m.OldDisplayName, new { @class = "col-md-2 control-label" })
      <div class="col-md-10" style="margin-top:7px">
        @Html.DisplayFor(m => m.OldDisplayName, new { @class = "form-control" })
        @Html.HiddenFor(m => m.OldDisplayName)
      </div>
    </div>
    <div class="form-group">
      @Html.LabelFor(m => m.NewDisplayName, new { @class = "col-md-2 control-label" })
      <div class="col-md-10">
        @Html.TextBoxFor(m => m.NewDisplayName, new { @class = "form-control" })
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="@Aibe.LCZ.NFM_ChangeDisplayName" class="btn btn-default" />
      </div>
    </div>
}
@section Scripts {
  @Scripts.Render("~/bundles/jqueryval")
}